<div class="page-header">
  <%= link_to new_despesa_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Despesa
  <% end %>
  <h1>Listing despesas</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Valor</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @despesas) do |despesa| %>
            <td><%= despesa.nome %></td>
            <td><%= despesa.descricao %></td>
            <td><%= despesa.valor %></td>
            <td><%= link_to 'Show', despesa %></td>
        <td><%= link_to 'Edit', edit_despesa_path(despesa) %></td>
        <td><%= link_to 'Destroy', despesa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
